<h1>Search Results</h1>
<nav><%= link_to "Home", root_path %> | <%= link_to "Weapons", weapon_path %> | <%= link_to "Armour", armour_path %> | <%= link_to "Search", search_path %> </nav>

<!--
<%= 
	collection: @found_products,
	locals: {show_admin_links: false}
%>
-->
