<h1>Xur's Agent of the Nine Exotic Items Electronic Store</h1>
<h2>Weapons Page</h2>

<nav><%= link_to "Home", root_path %> | <%= link_to "Armour", armour_path %> | <%= link_to "Search", search_path %></nav>

<p>
	<% @weapons.each do |weapon| %>
		<li><%=  link_to weapon.name, singleWeapon_path(weapon) %></li>
		
		<% if weapon.image.present? %>
			<li><%= image_tag weapon.image.thumb.url %></li>
		<% end %>
		
		<li>Price: <%= weapon.price %> Strange Coins</li>
		<br />
	<% end %>
</p>

<h6><%= link_to "Info", info_path %></h6>